<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model</title>
    <script src="./assets/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>v-model的使用</h1>
        <input type="text" v-model.trim.number="keyword">
        <p v-bind:idx="10">keyword:{{typeof keyword}} - {{keyword}}</p>

        <h4>爱好</h4>
        <ul>
            <li><input type="checkbox" value="篮球" v-model="hobby" true-value="laoxie" false-value="jingjing">篮球</li>
            <li><input type="checkbox" value="羽毛球" v-model="hobby">羽毛球</li>
            <li><input type="checkbox" value="兵乓球" v-model="hobby">兵乓球</li>
        </ul>
        {{hobby}}
    </div>
    <script>
        /**
            v-model
                * 原理
                    * v-bind:value
                    * v-on:input
            * 修饰符
                * v-model.lazy
                    * v-on:change
                * v-model.trim
                    * 去除前后空格
                * v-model.number
        */
        let vm = new Vue({
            el:'#app',
            // template:'<button>asdfadsf</button>',
            data:{
                hobby:'',
                keyword:''
            }
        })
    </script>
</body>
</html>