<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>16.组件化开发todolist</title>
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.css">
    <script src="./assets/js/vue.js"></script>
</head>

<body>
    <h1>16.组件化开发todolist</h1>
    <div id="app">
        <todolist></todolist>
    </div>

    <template id="todolist">
        <div class="container-fluid">
            <!-- 传递方法到子组件 -->
            <!-- <todo-form :add-item="addItem"></todo-form> -->

            <!-- 自定义事件 -->
            <todo-form v-on:additem="addItem"></todo-form>

            <todo-content 
            v-bind:datalist="datalist" 
            ></todo-content>
        </div>
    </template>
    <template id="todoForm">
        <div class="input-group">
            <input type="text" class="form-control" ref="keyword" v-model="keyword" @keyup.13="add">
            <div class="input-group-addon" style="padding:2px;">
                <input type="date" v-model="date" />
            </div>
            <span class="input-group-btn">
                <!-- <button class="btn btn-success" type="button" @click="add">添加</button> -->
                <todo-button class="btn-success" @click.native="add">添加</todo-button>
            </span>
        </div>
    </template>
    <template id="todoContent">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" v-model="checkAll" />全选</th>
                    <th>#</th>
                    <th>待办事项</th>
                    <th>预计完成事件</th>
                    <th>是否完成</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!-- <todo-item 
                v-for="(item,idx) in datalist" 
                @click="selectItem(idx)"
                :item="item" 
                :idx="idx"
                ></todo-item> -->
                <tr 
                    is="todo-item"
                    :key="item.id"
                    v-for="(item,idx) in datalist" 
                    @click.native="selectItem(idx)"
                    :item="item" 
                    :idx="idx"
                ></tr>
            </tbody>
        </table>
    </template>
    <template id="todoItem">
        <tr>
            <td><input type="checkbox" v-model="item.selected" /></td>
            <td>{{idx+1}}</td>
            <td>{{item.content}}</td>
            <td>{{item.date}}</td>
            <td>{{item.done ? '是':'否'}}</td>
            <td>
                <div class="btn-group btn-group-sm">
                    <!-- <button class="btn btn-default" type="submit" @click.stop.once="complete(idx)">完成</button>
                    <button class="btn btn-danger" type="submit" @click.stop="remove(idx)">删除</button> -->
                    <!-- <todo-button>
                        <template v-slot:cn>完成</template>
                        <template v-slot:en>complete</template>
                    </todo-button> -->
                    <todo-button class="btn-default" username="laoxie" @click.stop.once.native="complete(idx)">完成</todo-button>
                    <todo-button class="btn-danger" @click.stop.native="remove(idx)">删除</todo-button>
                </div>
            </td>
        </tr>
    </template>
    <script>
        let Bus = new Vue();

        Vue.component('todoButton',{
            // props:['username'],
            // template:`<button class="btn" type="submit">
            //     <strong><slot name="cn"/></strong>
            //     <span><slot name="en" /></span>
            //     <slot />
            // </button>`

            template:`<button class="btn" type="submit">
                <slot />
            </button>`
        })

        // TodoItem
        let todoItem = {
            props:['item','idx'],
            data() {
                return {

                }
            },
            template: '#todoItem',
            methods:{
                remove(idx){
                    // this.$parent.$emit('removeitem',idx)
                    // 发送方: 触发Bus的自定义事件
                    Bus.$emit('remove',idx)
                },
                complete(idx){
                    // this.$parent.$emit('completeitem',idx)
                    Bus.$emit('complete',idx)
                }
            }
        }

        // TodoContent
        let todoContent = {
            // props中的属性，在组件实例化时会被遍历，并写入组件实例
            props:['datalist'],
            data() {
                return {}
            },
            computed:{
                checkAll:{
                    get(){
                        return this.datalist.every(item=>item.selected);
                    },
                    set(val){
                        // 主动修改：checkAll的值影响所有数据的值
                        this.datalist.forEach(item=>item.selected=val);
                    }
                }
            },
            template: '#todoContent',
            methods:{
                selectItem(idx){
                    Bus.$emit('select',idx)
                }
            },
            components: {
                todoItem
            }
        }


        // TodoList组件
        Vue.component('todolist', {
            data() {
                return {
                    datalist: [{
                        id: 1,
                        content: '先定个小目标，赚他5个亿',
                        done: false,
                        date: '2019-12-25',
                        selected:false
                    }],
                    // activeIndex:0
                }
            },
            template: '#todolist',
            methods:{
                addItem(data){
                    this.datalist.unshift(data);
                },
                removeItem(idx){
                    this.datalist.splice(idx,1)
                },
                completeItem(idx){
                    this.datalist.forEach((item,i)=>{
                        if(i === idx){
                            item.done = true;
                        }
                    })
                },
                // 选中或取消数据勾选
                selectItem(idx){
                    this.datalist.forEach((item,i)=>{
                        if(i===idx)
                        item.selected = !item.selected;
                    })
                }
            },
            mounted(){
                // 接收方:给总线实例Bus绑定自定义事件
                Bus.$on('remove',this.removeItem);
                Bus.$on("complete",this.completeItem)
                Bus.$on("select",this.selectItem)
            },
            components: {
                todoForm: {
                    props:['addItem','active'],
                    data() {
                        return {
                            keyword: '',
                            // date: (new Date().toLocaleDateString()).replace(/\//g,'-')
                            date:''
                        }
                    },
                    template: '#todoForm',
                    methods: {
                        add() {
                            let data = {
                                id: Date.now(),
                                content:this.keyword,
                                done: false,
                                date: this.date,
                                selected:false
                            }
                        //    this.addItem(data); 

                        // 触发自定义事件
                        this.$emit('additem',data)

                        // <todo-form v-on:additem="事件处理函数"/>
                        // this.$on('additem',事件处理函数)

                            //    清空并获得焦点
                            this.keyword = '';
                            this.$refs.keyword.focus()


                            // 测试.sync修饰符
                            this.$emit('update:active',10)
                        }
                    }
                },
                todoContent
            }
        });

        let vm = new Vue({
            el: '#app',
            data: {

            }
        })

    </script>
</body>

</html>